/* ----------------------------------------- ANNOUNCEMENT BANNER section ------------------------------- */
div#announcement-banner {
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 4px;
}

/* ------------------------------------------- HEADER section -------------------------------------------- */

ul.navbar-nav li a {
    color: black;
    letter-spacing: 2px;    
}

ul.navbar-nav li:hover {
    background-color: #329BD1;
}

button#navbar-search {
    background-color: #329BD1;
    color: white;
    border-color: #329BD1;
}

button#navbar-search:hover {
    background-color: #329BD1;
}

li.nav-item a.nav-link:hover {
    color: white;
}

#navbar-cart-icon a {
    color: #329BD1;
    position: relative;
    top: 9px;
}
/* end of header section */

/* ------------------------------------ HOME PAGE VIDEO BANNER BAG SECTION ------------------------------ */

a.btn.btn-primary {
    background-color: #329BD1;
    border-color: #329BD1;
}

a.btn.btn-primary:hover {
  background-color: white;
  border-color: #329BD1;
  color: #329BD1;
}

.homepage-video-banner-bag .container-liquid {
    position: relative;
}

.homepage-video-banner-bag-textbox {
    position: absolute;
    top: 35%;
    left: 3%;
}

.homepage-video-banner-bag-textbox .unleash-style {
    color: #329BD1;
}

.homepage-video-banner-bag-textbox span.confidence {
    color: white;
}

.homepage-video-banner-bag-textbox h3 {
    font-size: 4rem;
}

  /* ----------------------------------------- SHOP BY BRANDS ---------------------------------------------*/
  
  .shop-by-brands .card {
    border: none;
  }

  img#shop-by-brands-image {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }

  span.fa.fa-star {
    color: orange;
  }
  
  /* ------------------------------------- ELEVATE YOUR FASHION IMAGE BANNER ---------------------------------*/
  .elevate-fashion-image-banner img {
    max-width: 100%;
  }
  
  .elevate-fashion-image-banner-container {
    position: relative;
  }

  .elevate-fashion-text-overlay-box {
    position: absolute;
    top: 35%;
    left: 3%;
  }

  .elevate-fashion-text-overlay-box h3 {
    font-size: 4rem;
  }

  .elevate-fashion-text-overlay-box span.elevate-fashion {
    color: #329BD1;
  }

  .elevate-fashion-text-overlay-box span.embrace-luxury {
    color: white;
  }

  /* ------------------------- WOMEN'S BAGS AND JEWELLERY IMAGE TEXT OVERLAY SECTION ---------------------*/
  .womens-bags-jewellery-img-text-overlay img {
    max-width: 100%;
  }

  div.womens-bags-text-overlay {
    position: relative; 
    display: inline-block;          
  }

  div.womens-bags-text-overlay h2 {
    position: absolute; 
    top: 80%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    background-color: rgba(50, 155, 209, 0.7); 
    color: #fff; 
    padding: 10px; 
    border-radius: 5px; 
  }

  div.womens-jewellery-text-overlay {
    position: relative; 
    display: inline-block;
  }

  div.womens-jewellery-text-overlay h2 {
    position: absolute; 
    top: 80%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    background-color: rgba(50, 155, 209, 0.7); 
    color: #fff; 
    padding: 10px; 
    border-radius: 5px;
  }

  .women-bags-jewellery-img-text-overlay-wrapper a {
    text-decoration: none;
  }

 /* ------------------------------------- SHOES HOMEPAGE VIDEO BANNER SECTION --------------------------- */
 .shoes-homepage-banner-video .container-liquid {
    position: relative;
 }

 .shoes-homepage-banner-video-textbox {
    position: absolute;
    top: 50%;
    right: 3%;
 }

 .shoes-homepage-banner-video-textbox .elegance {
    color: #329BD1;
 }

 .shoes-homepage-banner-video-textbox .comfort {
    color: white;
 }

 .shoes-homepage-banner-video-textbox h3 {
    font-size: 4rem;
 }

 /* --------------------------------------- JEWELRY VIDEO BANNER SECTION --------------------------------- */
 .jewelry-video-banner-homepage .container-liquid {
    position: relative;
 }

 .jewelry-video-banner-homepage-textbox {
    position: absolute;
    top: 50%;
    left: 3%;
 }

 .jewelry-video-banner-homepage-textbox span.unveil-radiance {
    color: #329BD1;
 }

 .jewelry-video-banner-homepage-textbox span.jewelry-obsession {
    color: white;
 }

 .jewelry-video-banner-homepage-textbox h3 {
    font-size: 4rem;
 }

 /* ------------------------------------------ AS FEATURED IN section ------------------------------------ */
 section.as-featured-in div.card {
    border: none;
 }  

/* ------------------------------------------- NEWSLETTER SECTION ----------------------------------------- */
section.newsletter {
    padding: 50px;
}

button.newsletter.btn.btn-info {
    background-color: #329BD1;
    border-color: #329BD1;
    color: white;
}
/* end of Newsletter Section */

/* --------------------------------------------- FOOTER SECTION ------------------------------------------ */
section.site-footer {
    background-color: black;
    color: white;
}

section.site-footer ul.list-unstyled li a {
    text-decoration: none;
    color: white;
}

section.site-footer ul.list-unstyled li a:hover {
    color:#329BD1;
}

section.site-footer div div div div.card {
    border: none;
}


ul.list-unstyled.follow-us li a {
    color:#329BD1;
    font-size: 30px;
}

.phone-number-footer {
    position: relative;
    bottom: 3px;
}
/* end of Footer Section */

/* ----------------------------------------- FOOTER BOTTOM SECTION ---------------------------------------- */
section.footer-bottom {
    background-color: black;
    color: white;
}

a.site-logo-footer-bottom {
    text-decoration: none;
    color: white;
}

a.site-logo-footer-bottom:hover {
    color: #329BD1;
}

i#payment-method-footer-bottom {
    color: white;
    font-size: 30px;
}
/* end of Footer Bottom Section */

/* ---------------------------------------- TRACK ORDER PAGE SECTION ------------------------------------- */
button#track-my-order {
    background-color: #329BD1;
    border-color: #329BD1;
    width: 200px;
}

button#track-my-order-submit {
    background-color: #329BD1;
    border-color: #329BD1;
    width: 200px;
}
/* end of Track Order page */

/* ---------------------------------------- LV BAGS COLLECTION SECTION ----------------------------------- */
section.lv-bags-collection div.card {
    border: none;
}

.lv-bags-collection-video-banner div.container-liquid {
    position: relative;
    display: inline-block;
}

.lv-bags-collection-video-banner-title h2 {
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    color: #fff; 
}

/* ------------------------------------------ CHANEL BAGS COLLECTION ------------------------------------- */
.chanel-bags-collection-image-banner .container-liquid {
    position: relative;
}

.chanel-bags-collection-image-banner-title h2 {
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    color: #fff; 
}

.chanel-bags-collection div.card {
    border: none;
}

/* ---------------------------------------- BAGS MAIN NAV MENU SECTION ------------------------------------ */
.all-bags-collection .card {
    border: none;
}

.all-bags-collection a {
    text-decoration: none;
    color: black;
}

.all-bags-main-nav-banner .container-liquid {
    position: relative;
}

.all-bags-main-nav-banner-title h2 {
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    color: #fff;
}

/* ---------------------------------------JEWELRY MAIN NAV MENU SECTION ---------------------------------- */
.jewelry-collection-video-banner .container-liquid {
    position: relative;
}

.jewelry-collection-video-banner-title h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;    
}

.jewelry-collection .card {
    border: none;
}

/* ---------------------------------------- SHOES MAIN NAV MENU SECTION ---------------------------------- */
.shoes-collection-image-banner .container-liquid {
  position: relative;
}

.shoes-collection-image-banner-title h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;    
}

.shoes-collection .card {
  border: none;
}

.shoes-collection a {
  text-decoration: none;
  color: black;
}

/* ------------------------------------------ PRODUCT PAGE SECTION --------------------------------------- */
#product-page-cc-icon {
    font-size: 2rem;
}

/* -------------------------------------------- CART PAGE SECTION ---------------------------------------- */
h6.cart-page-continueshopping {
    position: relative;
    top: 5px;
}

h6.cart-page-continueshopping a {
    text-decoration: none;
    color:#329BD1;
}

a.continue-checkout-button {
    background-color: #329BD1;
    padding: 10px 30px;
    text-decoration: none;
    color: white;
}

i#cart-page-cc-icon {
    color:#329BD1;
    font-size: 25px;
}

.cart-page-subtotal {
    position: relative;
    right: 6px;
}

.cart-page-products-title {
    position: relative;
    left: 2rem;
}
/* end of Cart Page */

/* -------------------------------------- LARGE SCREEN RESPONSIVENESS -------------------------------- */
@media only screen and (max-width: 1920px) {
  .elevate-fashion-image-banner img {
    width: 100%;
  }
}
/* ------------------------------------------ MOBILE RESPONSIVENESS --------------------------------- */

@media only screen and (max-width: 834px) {

  /* HOMEPAGE VIDEO BANNER BAG SECTION */
  .homepage-video-banner-bag-textbox h3 {
    font-size: 3rem;
  }

  .homepage-video-banner-bag-textbox h3.mb-4 {
    margin-bottom: 1rem !important;
  }

  .homepage-video-banner-bag-textbox {
    position: absolute;
    top: 40%;
  }

  /* ELEVATE YOUR FASHION IMAGE BANNER SECTION */
  .elevate-fashion-text-overlay-box h3 {
    font-size: 3rem;
  }

  .elevate-fashion-text-overlay-box h3.mb-4 {
    margin-bottom: 1rem !important;
  }

  .elevate-fashion-text-overlay-box {
    position: absolute;
    top: 40%;
    left: 3%;
  }

  /* SHOES VIDEO BANNER HOMEPAGE SECTION */

  section.shoes-homepage-banner-video {
    padding-top: 3rem;
  }

  .shoes-homepage-banner-video-textbox h3 {
    font-size: 3rem;
  }

  .shoes-homepage-banner-video-textbox h3.mb-4 {
    margin-bottom: 1rem !important;
  }

  .shoes-homepage-banner-video-textbox {
    position: absolute;
    top: 40%;
    right: 3%;
  }

  /* JEWELRY VIDEO BANNER HOMEPAGE SECTION */
  .jewelry-video-banner-homepage-textbox h3 {
    font-size: 3rem;
  }

  .jewelry-video-banner-homepage-textbox h3.mb-4 {
    margin-bottom: 1rem !important;
  }

  .jewelry-video-banner-homepage-textbox {
    position: absolute;
    top: 40%;
  }
}

@media only screen and (max-width: 820px) {
    
}

@media only screen and (max-width: 810px) {
    
}

@media only screen and (max-width: 800px) {
    
}

@media only screen and (max-width: 768px) {
    
}

@media only screen and (max-width: 428px) {

  /* HOMEPAGE VIDEO BANNER BAG SECTION */
  .homepage-video-banner-bag-textbox h3 {
    font-size: 20px;
  }

  .homepage-video-banner-bag-textbox h3.mb-4 {
    margin-bottom: 0.5rem !important;
  }

  /* SHOP BY BRANDS SECTION */
  .shop-by-brands.collection-list.py-5 {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
  }

  /* ELEVATE YOUR FASHION IMAGE BANNER SECTION */
  .elevate-fashion-text-overlay-box h3 {
    font-size: 20px;
  }

  .elevate-fashion-text-overlay-box h3.mb-4 {
    margin-bottom: 0.5rem !important;
  }

  .elevate-fashion-image-banner.py-5 {
    padding: 2rem 0 !important;
  }

  /* WOMENS BAGS AND JEWELRY IMAGE TEXT OVERLAY SECTION */
  .womens-bags-jewellery-img-text-overlay.py-5 {
    padding: 2rem 0 !important;
  }

  /* SHOES VIDEO BANNER HOMEPAGE SECTION */
  .shoes-homepage-banner-video-textbox h3 {
    font-size: 20px;
  }

  .shoes-homepage-banner-video-textbox h3.mb-4 {
    margin-bottom: 0.5rem !important;
  }

  .shoes-homepage-banner-video-textbox {
    position: absolute;
    top: 30%;
    right: 3%;
  }

  .shoes-homepage-banner-video.py-5 {
    padding: 2rem 0 !important;
  }

  /* JEWELRY VIDEO BANNER HOMEPAGE SECTION */
  .jewelry-video-banner-homepage-textbox h3 {
    font-size: 20px;
  }

  .jewelry-video-banner-homepage-textbox h3.mb-4 {
    margin-bottom: 0.5rem !important;
  }

  .jewelry-video-banner-homepage-textbox {
    position: absolute;
    top: 30%;
  }

  .jewelry-video-banner-homepage.py-5 {
    padding: 2rem 0 !important;
  }

  /* PRODUCT PAGE */
  .product-description-tabs-desktop {
    display: none;
  }

  .product-description-tabs-mobile {
    display: block !important;
  }
}

@media only screen and (max-width: 414px) {
    
}

@media only screen and (max-width: 390px) {
    
}

@media only screen and (max-width: 375px) {
    
}

@media only screen and (max-width: 360px) {
    
}

@media only screen and (max-width: 320px) {
    
}